h1 {
    color: green;
}
img {
    width: 400px;
}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: indigo;
    padding: 50px;
    border: solid 10px springgreen ;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}